html {
  margin: 0;
  padding: 0;
  width: 100%;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

body {
  font-family: Open Sans, Sans, Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

.container {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

header {
  margin: 50px;
  padding: 10px;
  display: block;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.markdown-section-container {
  border-style: dashed;
  border-color: rgb(177, 177, 177);
  padding: 20px;
}